<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="_shared/_layout">

<title layout:fragment="title">Product list</title>

<div layout:fragment="content">
<h1>The example</h1>
<p>
    <a sec:authorize="!isAuthenticated()" class="btn btn-primary" href="/login"> login </a>
    <a sec:authorize="!isAuthenticated()" class="btn btn-primary" href="/register"> register </a>
    <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-primary"
       href="/product/"> ADMIN-BOARD </a>
    <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-primary"
       href="/shop/"> SHOP </a>
</p>
</div>
</html>