<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="_shared/_layout">

<title layout:fragment="title">Product list</title>
<script layout:fragment="script" type="text/javascript" th:src="@{/js/cartHandler.js}"></script>

<div layout:fragment="content">
    <h1>Cart</h1>
  <div class="content">
    <table class="display table table-bordered" style="width:800px">
      <thead class="text-center">
      <tr>
        <th class="text-right">Name</th>
        <th class="text-left">Price</th>
        <th class="text-left">Category</th>
        <th class="text-left">Amount in cart</th>
        <th class="text-center" colspan="3">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="product : ${products}" th:name="product_row">
        <div>
          <td class="text-right" th:text= "${product?.name}"></td>
          <td class="text-left" th:text= "${product?.price}"></td>
          <td class="text-left" th:text= "${product?.category?.name}"></td>
          <td class="text-left" th:name="product" th:attr="id=${product.getId()}"></td>
          <td><button th:attr="onclick=|addToCart(${product.getId()})|">+</button></td>
          <td><button th:attr="onclick=|subtractFromCart(${product.getId()})|">-</button></td>
          <td><button th:attr="onclick=|removeFromCart(${product.getId()})|">remove</button></td>
        </div>
      </tr>
      </tbody>
    </table>
    <p>To pay:</p>
    <p id="cartSum"></p>
  </div>
  <script>
    window.onload = showAmount;
  </script>
</div>
</html>
