<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="_shared/_layout">
<title layout:fragment="title">Product list</title>
<script layout:fragment="script">
  function addToCart(i) {
    var name = 'product'+i;
    var value = getCookie(name);
    value = parseInt(value);
    if (isNaN(value)) {
      value = 0;
    }
    value = value + 1;
    document.cookie = name + '=' + value +  ";path=/";
  }
</script>

<div layout:fragment="content">
  <h1>Products list</h1>
  <div class="content">
    <table class="display table table-bordered" style="width:800px">
      <thead class="text-center">
      <tr>
        <th class="text-left">Name</th>
        <th class="text-left">Weight</th>
        <th class="text-left">Price</th>
        <th class="text-center">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="product : ${productList}">
        <td class="text-left" th:text= "${product.getName()}"></td>
        <td class="text-left" th:text= "${product.getWeight()}"></td>
        <td class="text-center" th:text= "${product.getPrice()}"></td>
        <td><button th:attr="onclick=|addToCart(${product.getId()})|">add to cart</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

</html>
